* {
    font-size: 16px;
    font-family: Inter, Arial, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}

/* Header */
.header {
    grid-column: 2;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 1.8rem 1.8rem 1rem 1.8rem;
}

.search {
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
}

.search a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#search-bar {
    border-radius: 3rem;
    border: none;
    background-color: rgb(232, 232, 232);
    width: 90%;
    height: 1.8rem;
    margin-left: -0.5rem;
    padding: 0 1rem;
}

.profile {
    display: flex;
    justify-self: end;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}

.profile a i {
    font-weight: 900;
    font-size: 1.3rem;
}
.profile img {
    max-width: 3rem;
}

.name {
    grid-row: 1;
    grid-column: 3;
    font-size: 1rem;
    font-weight: 700;
}

.welcome-msg {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    margin-top: 1rem;
    margin-left: 1rem;
    place-items: center start;
}

.large {
    grid-column: 1;
    max-width: 4.5rem;
}

.msg {
    display: grid;
    margin-left: 1rem;
    grid-template-rows: 1fr 1fr;
    font-weight: 700;
}

.hello {
    font-size: 0.8rem;
}

.usertag {
    font-size: 1.2rem;
    
}

.actions {
    display: flex;
    gap: 1.8rem;
    margin-right: 1rem;
}

button {
    place-self: end;
    margin-bottom: 0.8rem;
    border-radius: 3rem;
    border: none;
    padding: 0.6rem 1.6rem;
    background-color: rgb(104, 122, 188);
    color: white;
    font-weight: 600;
}

/* Sidebar */
.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(104, 122, 188);
    padding: 1.8rem;
}

.dashboard i {
    font-size: 2rem;  
    margin-right: 0.4rem;
}

.dashboard a {
    font-size: 1.8rem;
    font-weight: 700;
    align-items: flex-end;
}

.functions, .support-and-privacy {
    margin-top: 3rem;
}

.functions li, .support-and-privacy li {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.functions i, .support-and-privacy i {
    margin-right: 1.2rem;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(232, 232, 232);
    padding: 1.5rem;
}

.project-heading {
    grid-column: 1;
}

.projects {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
}

/* Announcements */
.a-heading {
    grid-column: 2;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.announcement-group {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

/* Trending */
.trending-group {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.trend {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.trend img {
    max-width: 2rem;
    border-radius: 40rem;
}

.p1 {
    grid-row: 1;
}

.p2 {
    grid-row: 2;
}

.p3 {
    grid-row: 3;
}

.p4 {
    grid-row: 4;
}

.trending-tag {
    grid-column: 2;
    grid-row: 1;
}
.bio {
    grid-column: 2;
    grid-row: 2;
}

/* Other */
img {
    border-radius: 40rem;
}

.main-heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

i {
    color: black;
}

.sidebar i, .sidebar li, .sidebar a {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

a {
    display: inline-flex;
}

ul {
    padding: 0;
}

/* Animations */

input[type="text"]:focus {
    outline: none;
}

input[type="text"]::selection {
    background: transparent;
}
